Flask==2.3.3
Flask-MySQLdb==1.0.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-WTF==1.1.1
WTForms==3.0.1
email-validator==2.1.0
qrcode==7.4.2
Pillow==10.0.0
reportlab==4.0.4
bcrypt==4.0.1
itsdangerous==2.1.2
python-barcode==1.0.4